tst.json
[{"id":"272732e7.2e96ae","type":"http in","z":"fb0fd010.8ecd1","name":"GetProjects","url":"/jira/getProjects","method":"get","upload":false,"swaggerDoc":"","x":280,"y":180,"wires":[["baec196c.668988"]]},{"id":"3f78816f.85b60e","type":"http request","z":"fb0fd010.8ecd1","name":"","method":"GET","ret":"obj","url":"https://fmi-gcp.atlassian.net/rest/api/3/project","tls":"","x":600,"y":200,"wires":[["2b5edb56.7701f4"]]},{"id":"baec196c.668988","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Authorization\":\"Basic bXVyYWxpLmFjaGFudGFAZ21haWwuY29tOjNRQzN6RlB4UzI4SzcwbEZPN1BaMTY0Ng==\",\"Accept\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["3f78816f.85b60e"]]},{"id":"2b5edb56.7701f4","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":860,"y":200,"wires":[]},{"id":"d8c6618c.4f927","type":"mongodb in","z":"fb0fd010.8ecd1","mongodb":"3ace827d.e82b6e","name":"SystemMongo","collection":"OpsModel","operation":"find","x":660,"y":280,"wires":[["89084815.9c0fc8"]]},{"id":"5ba28688.365658","type":"http in","z":"fb0fd010.8ecd1","name":"TestSystemD","url":"/TestSystemDB","method":"get","upload":false,"swaggerDoc":"","x":270,"y":280,"wires":[["6d6a42d9.952f2c"]]},{"id":"6d6a42d9.952f2c","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":280,"wires":[["d8c6618c.4f927"]]},{"id":"89084815.9c0fc8","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":890,"y":280,"wires":[]},{"id":"8b85428c.6e782","type":"http in","z":"fb0fd010.8ecd1","name":"SaveOpsModel","url":"/system/saveOpsModel","method":"post","upload":false,"swaggerDoc":"","x":360,"y":380,"wires":[["f1ee0ad2.65dbb8","f487d173.6a2b8"]]},{"id":"f487d173.6a2b8","type":"mongodb out","z":"fb0fd010.8ecd1","mongodb":"3ace827d.e82b6e","name":"","collection":"OpsModel","payonly":true,"upsert":false,"multi":false,"operation":"store","x":690,"y":380,"wires":[]},{"id":"f1ee0ad2.65dbb8","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":\"success\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":460,"wires":[["9438fd71.70669"]]},{"id":"9438fd71.70669","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":850,"y":460,"wires":[]},{"id":"8d925ac9.59ffc8","type":"http in","z":"fb0fd010.8ecd1","name":"GetIssues","url":"/jira/getIssues","method":"get","upload":false,"swaggerDoc":"","x":340,"y":856,"wires":[["69c06acd.412594"]]},{"id":"820744ec.a3bb28","type":"http request","z":"fb0fd010.8ecd1","name":"","method":"GET","ret":"obj","url":"https://fmi-gcp.atlassian.net/rest/api/3/search?jql=","tls":"","x":710,"y":896,"wires":[["9c6332ef.ac6f3"]]},{"id":"69c06acd.412594","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Authorization\":\"Basic bXVyYWxpLmFjaGFudGFAZ21haWwuY29tOjNRQzN6RlB4UzI4SzcwbEZPN1BaMTY0Ng==\",\"Accept\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":836,"wires":[["820744ec.a3bb28"]]},{"id":"9c6332ef.ac6f3","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":970,"y":896,"wires":[]},{"id":"18f167c3.060da8","type":"http in","z":"fb0fd010.8ecd1","name":"GetOpsModels","url":"/system/getOpsModels","method":"get","upload":false,"swaggerDoc":"","x":340,"y":696,"wires":[["e87f0893.d4f3d8"]]},{"id":"e87f0893.d4f3d8","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"projection","pt":"msg","to":"{\"_id\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":696,"wires":[["78f1c418.b6dbdc"]]},{"id":"78f1c418.b6dbdc","type":"mongodb in","z":"fb0fd010.8ecd1","mongodb":"3ace827d.e82b6e","name":"SystemMongo","collection":"OpsModel","operation":"find","x":780,"y":696,"wires":[["ff688f5f.49dd2"]]},{"id":"ff688f5f.49dd2","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":990,"y":696,"wires":[]},{"id":"b3f4a8a2.2fbf48","type":"http in","z":"fb0fd010.8ecd1","name":"GetFullOpsModels","url":"/system/getFullOpsModels","method":"get","upload":false,"swaggerDoc":"","x":350,"y":756,"wires":[["229117b7.3e4ba8"]]},{"id":"d4f83ba3.257f38","type":"mongodb in","z":"fb0fd010.8ecd1","mongodb":"3ace827d.e82b6e","name":"SystemMongo","collection":"OpsModel","operation":"find","x":780,"y":756,"wires":[["7edb2c39.263e44"]]},{"id":"7edb2c39.263e44","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":990,"y":756,"wires":[]},{"id":"229117b7.3e4ba8","type":"function","z":"fb0fd010.8ecd1","name":"","func":"msg.payload=msg.req.query._id;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":756,"wires":[["d4f83ba3.257f38"]]},{"id":"ca4bb311.56f6c","type":"http in","z":"fb0fd010.8ecd1","name":"updateOpsModel","url":"/system/updateOpsModel","method":"post","upload":false,"swaggerDoc":"","x":380,"y":540,"wires":[["580946f6.e42ce8","d60e70b4.a239e"]]},{"id":"e95cff48.ace2b","type":"mongodb out","z":"fb0fd010.8ecd1","mongodb":"3ace827d.e82b6e","name":"","collection":"OpsModel","payonly":true,"upsert":false,"multi":true,"operation":"update","x":710,"y":540,"wires":[]},{"id":"580946f6.e42ce8","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":\"success\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":620,"wires":[["7505cd89.2b5344"]]},{"id":"7505cd89.2b5344","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":870,"y":620,"wires":[]},{"id":"d60e70b4.a239e","type":"function","z":"fb0fd010.8ecd1","name":"","func":"msg.query={};\nmsg.query._id=msg.payload._id;\nconsole.log(msg.query);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":600,"wires":[["e95cff48.ace2b","cdf98842.a9ea28"]]},{"id":"cdf98842.a9ea28","type":"debug","z":"fb0fd010.8ecd1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":620,"wires":[]},{"id":"a532f3d5.c4499","type":"http in","z":"fb0fd010.8ecd1","name":"JiraCreateIssue","url":"/jira/createIssue","method":"post","upload":false,"swaggerDoc":"","x":360,"y":1000,"wires":[["c7f15137.51661"]]},{"id":"c7f15137.51661","type":"function","z":"fb0fd010.8ecd1","name":"","func":"var summary = msg.payload.summary;\nvar desc = msg.payload.desc;\nvar str = '{\"fields\": {  \"summary\": \"' + summary + '\", \"issuetype\": { \"id\": \"10001\" },\"project\": {\"id\" :10000},\"description\": {\"type\": \"doc\",\"version\": 1,\"content\": [{\"type\": \"paragraph\",\"content\": [ {\"text\": \"' + desc +'\",\"type\": \"text\"}]}]},\"reporter\":{\"id\":\"61b59a702960d200694a1ca7\"},\"assignee\": {\"id\": \"61b59a7057d5c30071ecbb00\"}}}';\n\nmsg.payload = JSON.parse(str);\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1040,"wires":[["33e02de9.ebdda2","e0434656.b947a8"]]},{"id":"33e02de9.ebdda2","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Authorization\":\"Basic bXVyYWxpLmFjaGFudGFAZ21haWwuY29tOjNRQzN6RlB4UzI4SzcwbEZPN1BaMTY0Ng==\",\"Accept\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1040,"wires":[["e436b3c1.d1787"]]},{"id":"e436b3c1.d1787","type":"http request","z":"fb0fd010.8ecd1","name":"","method":"POST","ret":"obj","url":"https://fmi-gcp.atlassian.net/rest/api/3/issue","tls":"","x":990,"y":1040,"wires":[["1698ed8c.2e5f62"]]},{"id":"1698ed8c.2e5f62","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":1150,"y":1040,"wires":[]},{"id":"e0434656.b947a8","type":"debug","z":"fb0fd010.8ecd1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1120,"wires":[]},{"id":"4ce4fd4d.0ec394","type":"http in","z":"fb0fd010.8ecd1","name":"GetUsers","url":"/jira/getUsers","method":"get","upload":false,"swaggerDoc":"","x":340,"y":1200,"wires":[["9b68a4c5.8d1428"]]},{"id":"b5181b32.d4ec48","type":"http request","z":"fb0fd010.8ecd1","name":"","method":"GET","ret":"obj","url":"https://fmi-gcp.atlassian.net/rest/api/3/users/search","tls":"","x":710,"y":1240,"wires":[["1dfc3a67.fb28d6"]]},{"id":"9b68a4c5.8d1428","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Authorization\":\"Basic bXVyYWxpLmFjaGFudGFAZ21haWwuY29tOjNRQzN6RlB4UzI4SzcwbEZPN1BaMTY0Ng==\",\"Accept\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1180,"wires":[["b5181b32.d4ec48"]]},{"id":"1dfc3a67.fb28d6","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":970,"y":1240,"wires":[]},{"id":"cb79cf0f.625b9","type":"http in","z":"fb0fd010.8ecd1","name":"GetTransitions","url":"/jira/getTransitions","method":"get","upload":false,"swaggerDoc":"","x":360,"y":1360,"wires":[["1b2f4ab4.9fbfb5"]]},{"id":"898bd366.46caa","type":"http request","z":"fb0fd010.8ecd1","name":"","method":"GET","ret":"obj","url":"","tls":"","x":710,"y":1400,"wires":[["7d7c05e0.342eac"]]},{"id":"1b2f4ab4.9fbfb5","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Authorization\":\"Basic bXVyYWxpLmFjaGFudGFAZ21haWwuY29tOjNRQzN6RlB4UzI4SzcwbEZPN1BaMTY0Ng==\",\"Accept\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1340,"wires":[["59a7b569.cf556c"]]},{"id":"7d7c05e0.342eac","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":970,"y":1400,"wires":[]},{"id":"b69a92fc.7439e","type":"http in","z":"fb0fd010.8ecd1","name":"JiraUpdateIssue","url":"/jira/updateIssue","method":"post","upload":false,"swaggerDoc":"","x":280,"y":1540,"wires":[["3b88889b.d54538"]]},{"id":"3b88889b.d54538","type":"function","z":"fb0fd010.8ecd1","name":"","func":"var id = msg.payload.id;\nvar tid = msg.payload.tid;\nvar comment = msg.payload.comment;\nvar obj = {\n    \n    \n    \"transition\": {\n        \"id\": tid\n    }\n}\nmsg.payload = obj;\n\nmsg.url='https://fmi-gcp.atlassian.net/rest/api/3/issue/'+id+'/transitions?expand=transitions.fields';\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1580,"wires":[["78cf916.35bee7","f39a15c0.694ba8"]]},{"id":"78cf916.35bee7","type":"change","z":"fb0fd010.8ecd1","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Authorization\":\"Basic bXVyYWxpLmFjaGFudGFAZ21haWwuY29tOjNRQzN6RlB4UzI4SzcwbEZPN1BaMTY0Ng==\",\"Accept\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1580,"wires":[["5e9d90c5.d561"]]},{"id":"5e9d90c5.d561","type":"http request","z":"fb0fd010.8ecd1","name":"","method":"POST","ret":"obj","url":"","tls":"","x":910,"y":1580,"wires":[["4d29fe29.244cc"]]},{"id":"4d29fe29.244cc","type":"http response","z":"fb0fd010.8ecd1","name":"","statusCode":"","headers":{},"x":1070,"y":1580,"wires":[]},{"id":"f39a15c0.694ba8","type":"debug","z":"fb0fd010.8ecd1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":1660,"wires":[]},{"id":"59a7b569.cf556c","type":"function","z":"fb0fd010.8ecd1","name":"","func":"msg.url ='https://fmi-gcp.atlassian.net/rest/api/3/issue/'+msg.req.query.id+'/transitions?expand=expand.fields';\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1340,"wires":[["898bd366.46caa"]]},{"id":"3ace827d.e82b6e","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"System","name":"System"}]
